#gatepage {
    padding: 200px 0 0;
    position: relative;
}

#gatepage .box,
#gatepage .title {
    margin: 0 15vw 0 15vw;
    width: 70vw;
}

#gatepage .title .decoration1,
#gatepage .title .tt {
    display: inline-block;
    vertical-align: top
}

#gatepage .title .tt {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 43px;
    letter-spacing: 5px;
    text-transform: uppercase
}

#gatepage .title .tt .word {
    height: 49px;
    padding: 0 30px 0 0;
    display: block;
    font-family: 'Roboto';
    font-weight: 700
}

#gatepage .title .tt .word.notshow {
    display: none
}

#gatepage .title .tt .line {
    background: url(/images/iot/titleline.svg) 100% 0 no-repeat;
    height: 30px;
    width: 100%;
    position: relative
}

#gatepage .title .tt .line .sss {
    position: absolute;
    width: 11px;
    height: 11px;
    left: 0;
    bottom: -5px
}

#gatepage .title .tt .line .ll {
    width: calc(100% - 27px);
    height: 30px;
    border-bottom: 1px solid #000
}

#gatepage .title .decoration1 {
    width: 330px;
    height: 50px;
    margin: 0 0 0 -5px
}

#gatepage .title .decoration2 {
    width: 305px;
    height: 50px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 8px 0 0;
    margin: 0 -5px 0 0
}

#gatepage .title .decoration2 .rbtn,
#gatepage .title .decoration2 input {
    display: inline-block;
    vertical-align: middle
}

#gatepage .title .decoration2 .rbtn {
    width: 35px;
    height: 30px;
    cursor: pointer
}

#gatepage .title .decoration2 button {
    width: 35px;
    height: 30px;
    background: none;
    border: none;
    outline: none
}

#gatepage .title .decoration2 input {
    width: 255px;
    height: 30px;
    background: none;
    box-shadow: none;
    border: none;
    border-left: 1px solid #5b6670;
    margin: 0 0 0 5px;
    padding: 0 0 0 5px;
    outline: none
}

#gatepage .title .decoration2,
#gatepage .title .pic {
    display: inline-block;
    vertical-align: top
}

#gatepage .title .pic {
    width: 25px;
    height: 50px
}

#gatepage .box {
    margin-top: calc(10rem / 3);
    /*height: calc(115rem / 3);*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
