#mainsection {
    padding: 200px 0 0;
    position: relative;
}

#mainsection .leftline {
    position: absolute;
    top: 278px;
    left: 0;
    height: 11px;
    width: 200px
}

#mainsection .leftline .line,
#mainsection .leftline .sss {
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s
}

#mainsection .leftline .line {
    width: 20px;
    height: 1px;
    background: #000;
    position: absolute
}

#mainsection .leftline .sss {
    position: absolute;
    height: 11px;
    width: 11px;
    left: 20px;
    top: -5px
}

#mainsection .leftline.active .line,
#mainsection .leftline:hover .line {
    width: 175px
}

#mainsection .leftline.active .sss,
#mainsection .leftline:hover .sss {
    left: 170px
}

#mainsection .box,
#mainsection .title {
    margin: 0 15vw 0 15vw;
    width: 70vw;
}

#mainsection .title .decoration1,
#mainsection .title .tt {
    display: inline-block;
    vertical-align: top
}

#mainsection .title .tt {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 43px;
    letter-spacing: 5px;
    text-transform: uppercase
}

#mainsection .title .tt .word {
    height: 49px;
    padding: 0 30px 0 0;
    display: block;
    font-family: 'Roboto';
    font-weight: 700
}

#mainsection .title .tt .line {
    background: url(/images/iot/titleline.svg) 100% 0 no-repeat;
    height: 30px;
    width: 100%;
    position: relative
}

#mainsection .title .tt .line .sss {
    position: absolute;
    width: 11px;
    height: 11px;
    left: 0;
    bottom: -5px
}

#mainsection .title .tt .line .ll {
    width: calc(100% - 27px);
    height: 30px;
    border-bottom: 1px solid #000
}

#mainsection .title .decoration1 {
    width: 330px;
    height: 50px;
    margin: 0 0 0 -5px
}

#mainsection .title .decoration2 {
    width: 305px;
    height: 50px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 8px 0 0;
    margin: 0 -5px 0 0
}

#mainsection .title .decoration2 .rbtn,
#mainsection .title .decoration2 input {
    display: inline-block;
    vertical-align: middle
}

#mainsection .title .decoration2 .rbtn {
    width: 35px;
    height: 30px;
    cursor: pointer
}

#mainsection .title .decoration2 button {
    width: 35px;
    height: 30px;
    background: none;
    border: none;
    outline: none
}

#mainsection .title .decoration2 input {
    width: 255px;
    height: 30px;
    background: none;
    box-shadow: none;
    border: none;
    border-left: 1px solid #5b6670;
    margin: 0 0 0 5px;
    padding: 0 0 0 5px;
    outline: none
}

#mainsection .title .decoration2,
#mainsection .title .pic {
    display: inline-block;
    vertical-align: top
}

#mainsection .title .pic {
    width: 25px;
    height: 50px
}

#mainsection .box {
    margin-top: calc(10rem / 3);
    /*height: calc(115rem / 3);*/
}

#mainsection .leftline {
    display: none
}

#mainsection .box .tablebox {
    margin: 60px auto 0
}

#mainsection .box .tablebox .title {
    width: 80%;
    margin: 0 0 30px
}

#mainsection .box .tablebox .title h2 {
    color: #003B87;
}

#mainsection .box .tablebox .wt {
    font-weight: 700;
}

#mainsection .box .descbox .cont,
#mainsection .box .tablebox .cont {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2px;
    padding: 0 0 0 2px;
    margin: 0 20px;
    top: 100px;
    opacity: 0;
    position: relative;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s
}

#mainsection .box .tablebox.active .cont {
    opacity: 1;
    top: 0
}

.product_list_title { 
    font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width:1100px) {
    .product_list_title { 
        font-weight: 700;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width:768px) {
    .product_list_title { 
        font-weight: 700;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width:550px) {
    .product_list_title { 
        font-weight: 700;
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
