#mainsection {
    padding: 200px 0 0;
    position: relative;
}

#mainsection .box,
#mainsection .title {
    margin: 0 15vw 0 15vw;
    width: 70vw;
}

#mainsection .box {
    margin-top: calc(10rem / 3);
    /*height: calc(115rem / 3);*/
}

#mainsection .box .tablebox {
    margin: 60px auto 0
}

#mainsection .box .tablebox .title {
    width: 80%;
    margin: 0 0 30px
}

#mainsection .box .tablebox .title h2 {
    color: #003B87;
}

#mainsection .box .tablebox .wt {
    font-weight: 700;
}

#mainsection .box .descbox .cont,
#mainsection .box .tablebox .cont {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2px;
    padding: 0 0 0 2px;
    margin: 0 20px;
    top: 100px;
    opacity: 0;
    position: relative;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s
}

#mainsection .box .tablebox.active .cont {
    opacity: 1;
    top: 0
}

.product_list_title { 
    font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width:1100px) {
    .product_list_title { 
        font-weight: 700;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width:768px) {
    .product_list_title { 
        font-weight: 700;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width:550px) {
    .product_list_title { 
        font-weight: 700;
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
