.row {
    margin-right: 0px;
    margin-left: 0px;
  }

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mybox3 {
    border: 1px solid #5a2807;
    border-radius: 3px;
}

.mybox2 {
    border: 1px solid #a8ad00;
    border-radius: 3px;
    margin: 2px 2px 2px 2px;
    width: 100%;
}

.downtt .mydate, .downtt .mypreview { 
    background: #a8ad00;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 12px 0;
    letter-spacing: 2px;
    text-align: center;
}

.downtt .mytitle {
    background: #3e3a39;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 12px 0;
    letter-spacing: 2px;
    text-align: center;
}

.mydate, .mytitle {
    display: inline-block;
    vertical-align: middle;
    padding: 14px 25px;
    position: relative;
    font-size: 18px;
    color: #3e3a39;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    position: relative;
}

.mybg {
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

.mybb {
    width: 100%;
    height: 100%;
}

.downlist:hover .mybb {
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    background: #b1b7bb;
}

.downlist:hover .mydate,
.downlist:hover .mytitle {
    color: #fff;
}

.myline {
    width: 100%;
    top: 0;
    left: 0;
    border-top: 1px solid #000;
}

.mysss { 
    position: absolute;
    top: -5px;
    left: calc(100% - 5px);
    height: 11px;
    width: 11px;
}

.mysss2 { 
    position: absolute;
    bottom: -5px;
    right: -5px;
    height: 11px;
    width: 11px;
}